obj
MsInfoSys/MsInfoSys/bin/Debug/MsInfoSys.exe
MsInfoSys/MsInfoSys/bin/Debug/MsInfoSys.pdb
MsInfoSys/MsInfoSys/bin/Debug/MsInfoSys.exe
MsInfoSys/MsInfoSys/bin/Debug/MsInfoSys.pdb
MsInfoSys/.vs/MsInfoSys/v14/.suo
MsInfoSys/MsInfoSys/bin/Debug/MsInfoSys.exe
MsInfoSys/MsInfoSys/bin/Debug/MsInfoSys.pdb
